@inherits LayoutComponentBase

<div class="container-fluid" style="position:absolute; bottom:auto; top:0; left:auto;right:0;">
    <div class="position-absolute top-50 start-50 translate-middle aligb-content-center">
        <div class="d-flex">
            @Body
        </div>
    </div>
</div>